/*html properties*/
html{
    scroll-behavior: smooth;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #dad7cd;
    border-radius: 10px;
}

/*sections*/
*{
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    color: #ffff;
    font-size: 1em;

}
/*nav bar*/
#navbar{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 2s;
}

#navbar a {
    float: left;
    display: flex;
    color: #75dfb2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    transition: background, color, 0.5s;
}

#navbar a:hover {
    background: #75dfb2;
    color: black;
}

/*parallax effect*/
main{
    background-color: #000;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

/*intro container*/
.intro_container h1{
    justify-content: center;
    margin-top: 2%;
    font-size: 3em;
    display: flex;
}

.intro_container h2{
    margin-top: 2%;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.intro_container p{
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    font-size: 1.5rem;
}

/*sections*/

/*TODO: Add individual sections for custom format*/

/*individual containers in each section*/
.container{
    padding: 5%;
    display: flex;
    justify-content: center;
}

.container h1 {
    font-size: 3em;
    text-decoration: underline;
    justify-content: center;
    margin-bottom: 100px;
}

.container p{

    padding: 10px;
    font-size: 1.5em;
    transition: color 0.5s;
}

.container p:hover {
    color:#75dfb2;
}

.container img{
    justify-content: center;
}

/*footer*/
footer {
    line-height: 40px;
    font-size: 1rem;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
}

/*extras*/
#auto-type{
    color: #75dfb2;
    margin-left: 20px;
}

.bold-highlight{
    margin-left: 20px;
    font-weight: bold;
    color: #75dfb2;
}
