html{
    scroll-behavior: smooth;
    word-wrap: normal;
    background-color: black;
}

*{
    font-family: "Montserrat", sans-serif;
    /*background-color: black;*/
    color: #f5f0f6;
    text-wrap: normal;
}

body{
    margin: 0;
    background-image: url("./background.png");
    /*background-blend-mode: overlay;*/
}

h1, h2{
    margin: auto;
    font-size: larger;
}

hr{
    margin-top: 20px;
    margin-bottom: 40px;
}

footer{
    margin-left: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    line-height: 10px;
}

/* Main components structure*/
#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    transition: 1s;

}

.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin:auto;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.content-group{
    display: flex;
    align-items: center;
}

.content-sep{
    height: 400px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
}

/* Navigation Elements */
#left-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    position: fixed!important;
    background-color: rgba(0,0,0,0.84);
}

#left-bar a{
    padding: 18%;
    font-size: 20px;
}

#top-bar{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 70%;
}

#top-bar a{
    padding: 1%;
    font-size: 3vw;
}

.navbar a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s;
}

.navbar a:hover {
    background: #FFBC00;
    color: #0d1321;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #dad7cd;
    border-radius: 10px;
}

/* Auto typer */
#auto-type{
    color: #FFBC00;
}

/* Small screen properties */
@media only screen and (max-width: 600px) {
    #main {margin-left: 0; max-width: 100%;}
    #top-bar{display: flex;}
    #left-bar{display: none;}
    .content-sep{width: 30%; height:0;}
    .content-group{flex-direction: column}
    footer{margin-left: 0}
}