/*html properties*/
html{
    scroll-behavior: smooth;
}

/*sections*/
*{
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    color: #ffff;
    font-size: 1.2rem;
}

/*main elements*/
main{
    background-color: #000;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

footer {
    font-size: 15px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input{
    color: black;
}
select{
    color: black;
}
option{
    color: black;
}
textarea{
    color: black;
}

footer p{
    font-size: 15px;
}

/*basic container*/
.intro-header{
    margin-left: auto;
    margin-right: auto;
}

.intro-header h1{
    font-size: 5vw;
}

.intro-container{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
}

.container{
    align-content: center;
    justify-content: center;
    display: flex;
    margin: auto;
    max-width: 60rem;
}

.container h2{
    font-size: 3rem;
    text-decoration: underline;
}

.container p:hover {
    color:#75dfb2;
}

/*content within containers*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

/*extras*/
#auto-type{
    color: #75dfb2;
    font-size: 5vw;
}

.bold-highlight{
    font-weight: bold;
    color: #75dfb2;
}

.v-bar {
    width: 1px;
    background-color: #75dfb2;
}

#intro-name{
    font-size: 4vw;
}

/*nav bar*/
#navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 2s;

}

#navbar a {
    display: flex;
    color: #75dfb2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2vw;
    transition: background, color, 0.5s;
}

#navbar a:hover {
    background: #75dfb2;
    color: black;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #dad7cd;
    border-radius: 10px;
}


